{% extends "layout.html" %}

{% block page_title %}{{ t!("person.form.create.title")|trans }}
{% endblock %}
{% block persons_nav_class %}active{% endblock %}

{% block content %}
<section>
  <form method="post" action="{{ Person::new_path() }}" class="form">
    <fieldset>
      <legend>
        <h2>{{ t!("person.form.create.title")|trans }}</h2>
      </legend>
      {% include "persons/form.html" %}
      <p class="form-field actions">
        <button type="submit" class="button">
          {{ t!("action.next")|trans }}
        </button>
        <a href="{{ Person::list_path() }}" class="button secondary">
          {{ t!("action.cancel")|trans }}
        </a>
      </p>
    </fieldset>
  </form>
</section>
{% endblock %}
