{% extends "layout.html" %}

{% block page_title %}{{ t!("person.title")|trans }}{% endblock %}
{% block persons_nav_class %}active{% endblock %}

{% block content %}
<nav>
  <a href="{{ Person::new_path() }}" class="button md secondary">
    {{ t!("person.actions.add")|trans }}
  </a>
</nav>
{% if persons.is_empty() %}
<section>
  <p>{{ t!("person.list.empty")|trans }}</p>
</section>
{% else %}
<section>
  {% include "persons/list_table.html" %}
</section>
{% if pagination.total_pages > 1 %}
  {% include "components/pagination.html" %}
{% endif %}
{% endif %}
{% endblock %}
