<div class="steps-nav">
  <ul>
    <li>
      <a href="{{ details.list.new_person_path() }}" class="active">
        {{ t!("person.personal_details")|trans }}
      </a>
    </li>
    <li>
      <a class="disabled" disabled>
        {{ t!("person.address")|trans }}
      </a>
    </li>
    <li>
      <a class="disabled" disabled>
        {{ t!("person.authorized_person")|trans }}
      </a>
    </li>
    <li>
      <a class="disabled" disabled>
        {{ t!("candidate_list.edit_position")|trans }}
      </a>
    </li>
  </ul>
</div>
