{% extends "layout.html" %}

{% block page_title %}{{ t!("candidate_list.form.create.title")|trans }}{% endblock %}
{% block candidate_lists_nav_class %}active{% endblock %}

{% block content %}
<section>
  <form method="post" action="{{ CandidateList::new_path() }}" class="form">
    <input type="hidden" name="csrf_token" value="{{ form.data.csrf_token }}">
    <fieldset>
      <legend>
        {{ t!("candidate_list.fields.electoral_districts")|trans }}
      </legend>
      <div class="checklist">
        {% for d in electoral_districts %}
        <div class="checkbox">
          <input type="checkbox" name="electoral_districts" id="electoral_district_{{ d.code() }}" value="{{ d.code() }}" {% if form.data.electoral_districts.contains(&d) %}checked{% endif %} />
          <label for="electoral_district_{{ d.code() }}">
            {{ d.title() }}
          </label>
        </div>
        {% endfor %}
      </div>
    </fieldset>
      <p class="form-field actions">
        <button type="submit" class="button">
          {{ t!("action.create")|trans }}
        </button>
        <a href="{{ CandidateList::list_path() }}" class="button secondary">
          {{ t!("action.cancel")|trans }}
        </a>
      </p>

  </form>
</section>
{% endblock %}
