<input type="hidden" name="csrf_token" value="{{ form.data.csrf_token }}">
<fieldset>
  <legend>
    {{ t!("candidate_list.fields.electoral_districts")|trans }}
  </legend>
  <div class="checkbox select-all-checkbox mt-md">
    <input type="checkbox" for-checklist="district_list" id="select-all" />
    <label for="select-all">
      {{ t!("candidate_list.actions.select_all_districts")|trans }}
    </label>
  </div>
  <div class="checklist grid" id="district_list">
    {% for d in electoral_districts %}
    <div class="checkbox">
      <input type="checkbox" name="electoral_districts" id="electoral_district_{{ d.code() }}" value="{{ d.code() }}"
        {% if form.data.electoral_districts.contains(&d) %}checked{% endif %} />
      <label for="electoral_district_{{ d.code() }}">
        {{ d.title() }}
      </label>
    </div>
    {% endfor %}
  </div>
</fieldset>
