<table>
  <thead>
    <tr>
      <th scope="col">{{ t!("candidate_list.fields.electoral_districts")|trans }}</th>
      <th scope="col">{{ t!("candidate_list.fields.person_count")|trans }}</th>
      <th scope="col">{{ t!("candidate_list.fields.updated_at")|trans }}</th>
      <th scope="col">{{ t!("candidate_list.fields.created_at")|trans }}</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for candidate_list in candidate_lists %}
    <tr class="clickable">
      <td>{{ candidate_list.list.display_districts(election, locale) }}</td>
      <td>{{ candidate_list.person_count }}</td>
      <td>{{ candidate_list.list.updated() }}</td>
      <td>{{ candidate_list.list.created() }}</td>
      <td>
        <a href="{{ candidate_list.list.view_path() }}">
          <span>{{ t!("candidate_list.actions.view")|trans }}</span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
