{% extends "layout.html" %}

{% block page_title %}{{ t!("candidate_list.title")|trans }}{% endblock %}
{% block candidate_lists_nav_class %}active{% endblock %}

{% block content %}
<section>
  <div class="cards">
    {# manage persons card #}
    <div class="card card-persons">
      <h3>{{ t!("person.all")|trans }}</h3>
      <p class="statistic">
        {{ t!("person.total")|trans|fill(total_persons.to_string()) }}
      </p>
      <a href="{{ Person::list_path() }}">
        {{ t!("person.actions.manage")|trans }}
      </a>
    </div>

    {# candidate lists cards #}
    {% for candidate_list in candidate_lists %}
    <div class="card card-list">
      <h3>{{ t!("candidate_list.title_single")|trans }}</h3>
      <p class="statistic truncated">
        {{ t!("common.electoral_districts")|trans }}:
        {{ candidate_list.list.display_districts(election, locale) }}
      </p>
      <p class="statistic">
        {% if candidate_list.person_count == 0 %}
          {{ t!("candidate_list.no_candidates")|trans }}
        {% else %}
          {{ t!("candidate_list.total_candidates")|trans|fill(candidate_list.person_count.to_string()) }}
        {% endif %}
      </p>
      <a href="{{ candidate_list.list.view_path() }}">
        {{ t!("candidate_list.actions.manage")|trans }}
      </a>
    </div>
    {% endfor %}

    {# add new candidate list card #}
    <div class="card card-add-list">
      <a href="{{ CandidateList::new_path() }}" class="button secondary icon-plus">
        {{ t!("candidate_list.actions.add")|trans }}
      </a>
    </div>
  </div>
</section>
{% endblock %}
