{% extends "candidate_lists/list.html" %}

{% block body_class %}overlay-open{% endblock %}

{% block overlay %}
<div class="overlay-backdrop"></div>
<form method="post" action="{{ candidate_list.update_path() }}" class="overlay">
  <header>
    <h2>
      {{ t!("candidate_list.form.update.title")|trans }}
    </h2>
    <a href="{{ CandidateList::list_path() }}" class="close-overlay" aria-label="{{ t!("action.close")|trans }}">
      <span>
        {{ t!("action.close")|trans }}
      </span>
    </a>
  </header>
  <div class="overlay-content steps">
    <div class="steps-nav">
      <ul>
        <li>
          <a href="{{ candidate_list.update_path() }}">
            {{ t!("candidate_list.fields.electoral_districts")|trans }}
          </a>
        </li>
      </ul>
    </div>
    <div class="form">
      {% include "candidate_lists/form.html" %}
      <button class="button tertiary-destructive icon-trash open-modal mt-xl" type="button">
        {{ t!("candidate_list.actions.delete_list")|trans }}
      </button>
    </div>
  </div>
  <footer>
    <button type="submit" class="button">
      {{ t!("action.save")|trans }}
    </button>
  </footer>
</form>

<dialog class="modal">
  <form method="post" action="{{ candidate_list.delete_path() }}" class="form">
    <input type="hidden" name="csrf_token" value="{{ form.data.csrf_token }}">
    <button class="close-modal" aria-label="{{ t!("action.close")|trans }}">
      <span>
        {{ t!("action.close")|trans }}
      </span>
    </button>
    <h3>
      {{ t!("candidate_list.actions.delete_list")|trans }}
    </h3>
    <p class="mt-lg mb-lg">{{ t!("candidate_list.form.delete_warning_text")|trans }}</p>
    <button type="submit" class="button primary-destructive">
      {{ t!("action.delete")|trans }}
    </button>
    <button type="submit" class="button secondary close">
      {{ t!("action.cancel")|trans }}
    </button>
  </form>
</dialog>
{% endblock %}
