{% extends "layout.html" %}

{% block page_title %}{{ t!("candidate_list.title_single")|trans }}{% endblock %}
{% block candidate_lists_nav_class %}active{% endblock %}
{% block main_class %}pt-sm{% endblock %}

{% block header_action %}
  <a href="{{ CandidateList::list_path() }}" class="button secondary">
    {{ t!("candidate_list.actions.back_to_list")|trans }}
  </a>
{% endblock %}

{% block content %}
  <nav class="sticky-nav">
    <div class="sticky-nav-bar">
      <div>
        <p>{{ t!("candidate_list.actions.add_candidates")|trans }}:</p>
        <div class="buttons">
          <a href="{{ details.list.add_person_path() }}" class="button secondary icon-plus open-modal" type="button">
            {{ t!("candidate_list.actions.add_existing")|trans }}
          </a>
          <a href="{{ Person::new_path() }}" class="button secondary icon-plus open-modal" type="button">
            {{ t!("candidate_list.actions.add_new")|trans }}
          </a>
        </div>
      </div>
      <div>
        <p>{{ t!("candidate_list.actions.edit_list_details")|trans }}:</p>
        <a href="#edit-list" class="button secondary icon-edit">
          {{ t!("candidate_list.actions.edit")|trans }}
        </a>
      </div>
    </div>
  </nav>

  <section>
  {% if details.candidates.is_empty() %}
    <p>{{ t!("candidate_list.view.empty")|trans }}</p>
  {% else %}
    {% include "candidate_lists/candidates_table.html" %}
  {% endif %}
  </section>
{% endblock %}
