apiVersion: v1
kind: Secret
metadata:
  name: secrets
stringData:
  database_url: "postgres://{{.Values.db.user}}:{{.Values.db.password}}@{{.Values.db.host}}:{{.Values.db.port}}/{{.Values.subdomain}}"

---
{{ if .Values.db.setup }}
apiVersion: v1
kind: Secret
metadata:
  name: pre-install-secrets
  annotations:
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "-6"
    "helm.sh/hook-delete-policy": hook-succeeded
stringData:
  pgpassword: {{ .Values.db.password | quote }}
  database_url: "postgres://{{.Values.db.user}}:{{.Values.db.password}}@{{.Values.db.host}}:{{.Values.db.port}}/{{.Values.subdomain}}"
{{ end}}
---
{{ if .Values.db.erase }}
apiVersion: v1
kind: Secret
metadata:
  name: post-delete-secrets
  annotations:
    "helm.sh/hook": post-delete
    "helm.sh/hook-weight": "4"
    "helm.sh/hook-delete-policy": hook-succeeded
stringData:
  pgpassword: {{ .Values.db.password | quote }}
{{ end}}
