apiVersion: v1
kind: Secret
metadata:
  name: secrets
stringData:
  database_url: "postgres://{{.Values.db.user}}:{{.Values.db.password}}@{{.Values.db.host}}:{{.Values.db.port}}/{{.Values.subdomain}}"

---
{{ if or .Values.db.setup .Values.db.erase }}
apiVersion: v1
kind: Secret
metadata:
  name: helm-hook-secrets
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade,post-delete
    "helm.sh/hook-weight": "-7"
    "helm.sh/hook-delete-policy": hook-succeeded
stringData:
  pgpassword: {{ .Values.db.password | quote }}
  database_url: "postgres://{{.Values.db.user}}:{{.Values.db.password}}@{{.Values.db.host}}:{{.Values.db.port}}/{{.Values.subdomain}}"
{{ end}}
