[package]
name = "validate"
version = "0.1.0"
edition = "2024"
license = "EUPL-1.2"
publish = false

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0"
quote = "1.0"
syn = { version = "2.0", features = ["full"] }
