{% extends "base.html" %}

{% block body %}
  {% block overlay %}{% endblock %}
  <header>
    <nav>
      <ul>
        <li><a href="/" class="{% block overview_nav_class %}{% endblock %}">{{ t!("common.general_information")|trans }}</a></li>
        <li><a href="{{ crate::candidate_lists::CandidateList::list_path() }}" class="{% block candidate_lists_nav_class %}{% endblock %}">{{ t!("candidate_list.title")|trans }}</a></li>
        <li><a href="/">{{ t!("common.submit")|trans }}</a></li>
      </ul>
      <ul>
        <li class="user-info">
          <strong>Evert Klaas Smit</strong>
          <span>(Lijst Hekking)</span>
        </li>
        <li><a href="/" class="logout">{{ t!("action.signout")|trans }}</a></li>
      </ul>
    </nav>
    <div class="header-content">
      <h1>{% block page_title %}{{ t!("common.title")|trans }}{% endblock %}</h1>
      {% block header_action %}{% endblock %}
    </div>
  </header>
  <main class="{% block main_class %}{% endblock %}">
    {% block content %}{% endblock %}
  </main>
  <footer>
    <span>{{ t!("common.title")|trans }}</span>
    <span>{{ t!("common.version")|trans }} <strong>{{ env!("CARGO_PKG_VERSION") }}</strong></span>
  </footer>
{% endblock %}
