<table class="table mt-sm" id="add-person-table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">{{ t!("person.fields.name")|trans }}</th>
      <th scope="col">{{ t!("person.fields.initials")|trans }}</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for person in persons %}
    <tr class="clickable">
      <td></td>
      <td>
        <strong>{{ person.last_name_with_prefix_appended() }},</strong>
        {{ person.initials }}
        {% if let Some(first_name) = person.first_name %}
        ({{ first_name }})
        {% endif %}
      </td>
      <td>
        {% if let Some(locality) = person.locality %}
          {{ locality }}
        {% endif %}
      </td>
      <td>
        <button type="submit" name="person_id" value="{{ person.id }}">
          <span>{{ t!("action.add")|trans }}</span>
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
