<div class="steps-nav">
  <ul>
    <li>
      <a href="{{ candidate.edit_path() }}">
        {{ t!("person.personal_details")|trans }}
      </a>
    </li>
    <li>
      <a href="{{ candidate.edit_address_path() }}">
        {{ t!("person.address")|trans }}
      </a>
    </li>
    <li>
      <a href="#">
        {{ t!("person.authorized_person")|trans }}
      </a>
    </li>
    <li>
      <a href="{{ candidate.edit_position_path() }}">
        {{ t!("candidate_list.edit_position")|trans }}
      </a>
    </li>
  </ul>
</div>
