{% extends "candidate_lists/view.html" %}

{% block body_class %}overlay-open{% endblock %}

{% block overlay %}
<div class="overlay-backdrop"></div>
<form method="post" action="{{ candidate.edit_address_path() }}" class="overlay">
  <header>
    <h2>
      <span class="position-badge">{{ candidate.position }}</span>
      {{ candidate.person.display_name() }}
    </h2>
    <a href="{{ full_list.list.view_path() }}" class="close-overlay" aria-label="{{ t!("action.close")|trans }}">
      <span>
        {{ t!("action.close")|trans }}
      </span>
    </a>
  </header>
  <div class="overlay-content steps">
    {% include "candidates/edit_steps.html" %}
    <div class="form">
      <fieldset>
        <legend>
          <h3>{{ t!("person.address")|trans }}</h3>
        </legend>
        {% include "persons/address_form.html" %}
      </fieldset>
    </div>
  </div>
  <footer>
    <button type="submit" class="button" name="action" value="move">
      {{ t!("action.save")|trans }}
    </button>
  </footer>
</form>
{% endblock %}
