{% extends "candidate_lists/view.html" %}

{% block body_class %}overlay-open{% endblock %}

{% block overlay %}
<div class="overlay-backdrop"></div>
<form method="post" action="{{ candidate.edit_path() }}" class="overlay">
  <header>
    <h2>
      <span class="position-badge">{{ candidate.position }}</span>
      {{ candidate.person.display_name() }}
    </h2>
    <a href="{{ full_list.list.view_path() }}" class="close-overlay" aria-label="{{ t!("action.close")|trans }}">
      <span>
        {{ t!("action.close")|trans }}
      </span>
    </a>
  </header>
  <div class="overlay-content steps">
    {% include "candidates/edit_steps.html" %}
    <div class="form">
      <fieldset>
        <legend>
          <h3>{{ t!("person.personal_information")|trans }}</h3>
        </legend>
        {% include "persons/form.html" %}
        <button class="button tertiary-destructive icon-trash open-modal mt-xl" type="button">
          {{ t!("person.actions.delete")|trans }}
        </button>
      </fieldset>
    </div>
  </div>
  <footer>
    <button type="submit" class="button">
      {{ t!("action.save")|trans }}
    </button>
  </footer>
</form>

<dialog class="modal">
  <form method="post" action="{{ candidate.delete_path() }}" class="form">
    <input type="hidden" name="csrf_token" value="{{ form.data.csrf_token }}">
    <button class="close-modal" aria-label="{{ t!("action.close")|trans }}">
      <span>
        {{ t!("action.close")|trans }}
      </span>
    </button>
    <h3>
      {{ t!("person.actions.delete")|trans }}
    </h3>
    <p class="mt-lg mb-lg">{{ t!("person.form.delete_warning_text")|trans }}</p>
    <button type="submit" class="button primary-destructive">
      {{ t!("action.delete")|trans }}
    </button>
    <button type="submit" class="button secondary close">
      {{ t!("action.cancel")|trans }}
    </button>
  </form>
</dialog>
{% endblock %}


