<nav aria-label="Pagination" class="pagination">
  {% if pagination.has_prev %}
    <a href="{{ pagination.prev() }}" rel="prev" class="button">&lt;</a>
  {% else %}
    <button role="button" disabled aria-disabled="true">&lt;</button>
  {% endif %}
  {% for link in pagination.links %}
    {% if let Some(number) = link.number %}
      {% if link.current %}
        <button role="button" disabled aria-current="page">{{ number }}</button>
      {% else %}
        <a href="{{ pagination.goto(number) }}" class="button">{{ number }}</a>
      {% endif %}
    {% else %}
      <span aria-hidden="true">...</span>
    {% endif %}
  {% endfor %}
  {% if pagination.has_next %}
    <a href="{{ pagination.next() }}" rel="next" class="button">&gt;</a>
  {% else %}
    <button role="button" disabled aria-disabled="true">&gt;</button>
  {% endif %}
</nav>
