.form {
  .form-field {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    max-width: 24rem;

    & > label {
      color: var(--text-color-header);
      font-weight: bold;
      gap: 0.5rem;
      white-space: nowrap;

      &.required::after {
        display: inline-block;
        content: " *";
        color: var(--color-error-darker);
      }
    }

    &.actions {
      flex-direction: row;
      justify-content: flex-start;
      gap: var(--space-ml);
    }

    &.form-field-sm {
      max-width: 12rem;
    }

    &.form-field-full {
      max-width: 100%;

      input {
        max-width: 100%;
      }
    }
  }

  fieldset {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;

    legend {
      display: block;
      font-size: var(--font-size-lg);
      font-weight: bold;
      color: var(--text-color-header);
      margin-bottom: var(--space-xl);
    }

    legend + .checklist {
      padding-top: 0;
    }

    .form-row {
      display: flex;
      gap: var(--space-xl);
      margin-bottom: var(--space-lg);
      align-items: start;

      .form-field {
        flex: 1;
      }

      /* hide form variants until js is active */
      &[data-variant] {
        display: none;
      }
    }
  }

  span.substext,
  span.hint,
  span.error {
    display: inline-block;
    font-size: var(--font-size-md);
    font-style: normal;
    line-height: 1.5rem;
  }

  span.subtext {
    font-weight: normal;
  }

  span.hint {
    color: var(--color-help-text);
    font-weight: normal;
    margin-top: 0.5rem;
  }

  span.error {
    color: var(--color-error-darker);
    font-weight: normal;
    margin-top: 0.5rem;
  }
}

.form input[type="text"],
.form input[type="number"],
.form textarea,
.form select {
  width: 100%;
  max-width: 32rem;

  display: flex;
  padding: 1rem 1.5rem 1rem 1rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-style: solid;
  border-width: 2px;
  border-color: var(--bg-gray-darkest);
  background: var(--base-white);
}

.form input[type="text"]:hover,
.form input[type="text"]:focus,
.form input[type="text"]:focus-visible,
.form input[type="number"]:hover,
.form input[type="number"]:focus,
.form input[type="number"]:focus-visible,
.form textarea:hover,
.form textarea:focus,
.form textarea:focus-visible,
.form select:hover,
.form select:focus,
.form select:focus-visible {
  outline: none;
  border-color: var(--border-color-focus);
}

.form input[type="text"]:focus,
.form input[type="text"]:focus-visible,
.form input[type="number"]:focus,
.form input[type="number"]:focus-visible,
.form textarea:focus,
.form textarea:focus-visible,
.form select:focus,
.form select:focus-visible {
  box-shadow: 0 0 0 3px var(--shadow-color-focus);
}

.form input[type="number"] {
  appearance: textfield;
}

.form textarea {
  align-items: flex-start;
  resize: none;
}
