::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    background-color: var(--base-white);
    padding: 2.5rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 40rem;

    /* Show scrollbar if the modal is higher than the viewport */
    max-height: calc(100% - 2rem);
    overflow-y: auto;

    .close-modal {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        background-color: transparent;
        background-image: url("../icons/cross.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 2rem;
        height: 2rem;
        border: none;
        cursor: pointer;
        outline: none;

        span {
            display: none;
        }
    }

    table {
        tr {
            td {
                height: auto;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }
    }
}
