body.overlay-open {
  padding-bottom: calc(2 * var(--space-lg));

  & > header,
  & > main {
    position: fixed;
    width: 100%;
    pointer-events: none;
    user-select: none;
  }

  & > main {
    top: 10rem;
  }

  & > footer {
    display: none;
  }
}

.overlay-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  overflow-y: scroll;
}

.overlay {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1000;
  top: var(--space-lg);
  left: var(--space-lg);
  width: calc(100% - 2 * var(--space-lg));
  min-height: calc(100vh - 2 * var(--space-lg));
  background-color: var(--gray-50);
  height: auto;
  border-radius: var(--space-sm);
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;

  header {
    display: flex;
    height: 6rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--base-white);
    padding: 0 var(--space-lg);
    border-radius: var(--space-md) var(--space-md) 0 0;

    h2,
    h3 {
      margin: 0;
    }

    .close-overlay {
      display: block;
      background-color: transparent;
      background-image: url("../icons/cross.svg");
      background-repeat: no-repeat;
      background-size: 2rem;
      background-position: right center;
      width: 6rem;
      height: 6rem;
      border: none;
      cursor: pointer;
      outline: none;

      span {
        display: none;
      }
    }
  }

  .overlay-content {
    padding: var(--space-lg);
    flex: 1;

    &.steps {
      display: flex;
      justify-content: stretch;

      & > div {
        padding: var(--space-lg);

        &:nth-child(2) {
          flex: 1;
        }
      }
    }
  }

  footer {
    border-top: 1px solid var(--border-color-default);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: var(--space-md) var(--space-lg);
    border-radius: 0 0 var(--space-sm) var(--space-sm);
    background-color: var(--gray-50);
  }
}
