.steps-nav {
  border-right: 1px solid var(--border-color-default);
  width: 20rem;

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);

    li a {
      display: block;
      width: 100%;
      color: var(--base-black);
      text-decoration: none;
      padding-left: var(--space-xl);
      background-repeat: no-repeat;
      background-position: left var(--space-sm) center;
      background-size: 1.5rem;
      line-height: 2.75rem;
      border-radius: 3px;
      font-weight: 600;

      &:hover {
        background-color: var(--gray-100);
      }

      &.ok {
        background-image: url("../icons/checkmarkSmall.svg");
      }

      &.active {
        background-image: url("../icons/arrowNarrowRight.svg");
        background-color: var(--gray-200);
      }

      &.disabled {
        pointer-events: none;
        cursor: default;
        color: var(--gray-400);
      }
    }
  }
}
