name: Deploy Rustdocs to GitHub Pages
on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Build Job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Rust
        shell: bash
        run: >
          rustup update stable &&
          rustup default stable &&
          rustup component add rust-docs

      - name: Cargo cache
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2

      - name: Build Documentation
        env:
          RUSTDOCFLAGS: "-D warnings"
        run: cargo doc --workspace --no-deps --all-features

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: './target/doc'

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}e_ks
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
